body {
display: flex;
align-items: center;
justify-content: center;
min-height: 91vh;
font-family: Arial, Helvetica, sans-serif;
}

#data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}
.card{
    background-color: rgb(240, 242, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 40vh;
    margin-bottom: 2vh;
    border-radius: 8vh;
    border: 2px black solid;
    font-size: 20;
}
.name {
    font-size: 30px;
    font-weight: bold;
    margin-top: 2vh;
}

.box {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 2%;
    background-color: rgb(176, 198, 255);
}
button {
    border: 2px solid black;
    width: 40vw;
    height: 7vh;
    border-radius: 10vh;
    justify-self: flex-end;
    font-size: 20px;
    
}
button:hover {
    background-color: rgb(132, 144, 168);
    color: rgb(255, 255, 255);
    width: 45vw;
    height: 8vh;
}

@media (orientation: landscape) {
    #data{
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around;
        align-items: flex-start; 
        gap: 2px; 
        width: 100%; 
        height: auto; 
    
    }
    .card {
        width: 38vh;
        height: 38vh;
    }
    .box {
        background: none;
        order: 1;
        justify-content: flex-end;
        width: 90vw;
    }
    button {
        background-color: rgb(176, 198, 255);
        width: 20vh;
        margin: 1%;
    }
    button:hover {
        background-color: rgb(132, 144, 168);
        color: rgb(255, 255, 255);
        width: 25vh;
        height: 8vh;
    }
}